
.main-landingpage{
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
    grid-template-columns: 0.3fr auto 0.3fr;
    grid-template-rows: auto 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}

.div1 { grid-area: 1 / 1 / 4 / 2; }
.div2 { grid-area: 1 / 3 / 4 / 4; }
.div3 {
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    align-items: flex-end;
}
.div4 { grid-area: 2 / 2 / 4 / 3; }

.title{
    z-index: 999999;
    color: #34364C;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;  
    text-align: center;
    font-family: Roboto;
    font-size: 6vw;
}   

.title h1:first-child{
    color: #7B61FF;
    z-index: 999999;
}

.buttons{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.buttons button{
    color: hsl(235, 19%, 25%);
    display: flex;
    min-width: 350px;
    width: 30vw;
    max-width: 30vw;
    height: auto;
    padding: 0rem 1.4rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0.3vw solid #7B61FF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and transform */
    cursor: pointer; 
}
.buttons button img {
    width: 5vw !important;
    height: 5vw !important;
}
.buttons button p {
    font-size: 3vw;
}

#background{
    z-index: -999;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Ensure that the layout does not break when zoomed in */
@media screen and (min-resolution: 2dppx) {
    /* Increase text sizes for better readability */
    .title{
        font-size: 6vw;
        gap: 1rem;
    }
    .buttons button {
        min-width: 23vw;
        max-width: 330px !important;
        font-size: 2.5rem; /* Adjust this value based on your design's needs */
    }
}
@media screen and (min-resolution: 3dppx) {
    /* Increase text sizes for better readability */
    .buttons button {
        min-width: 200px;
        padding: 0 12px;
    }
}
@media screen and (min-resolution: 4dppx) {
    /* Increase text sizes for better readability */
    .buttons button {
        min-width: 150px;
        padding: 0 10px;
    }
}
@media screen and (min-resolution: 5dppx) {
    /* Increase text sizes for better readability */
    .buttons button {
        min-width: 100px;
        padding: 0 5px;
    }
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) and (orientation: portrait)  {
    /* Adjust the grid layout for mobile */
    .main-landingpage {
        display: grid;
        min-width: 100vw;
        min-height: 100vh;
        grid-template-columns: 0.2fr auto 0.2fr;
        grid-template-rows: auto 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
        overflow: hidden;
    }
    .title{
        font-size: 7vw;
        padding: 1rem 0px;
        gap: 0.5rem;
    }
    .buttons{
        align-items: center;
        width: 100%;
    }
    .buttons button {
        align-items: center;
        justify-content: center;
        min-width: 90vw;
    }
    .buttons button img {
        width: 13vw !important;
        height: 13vw !important;
    }
    .buttons button p {
        font-size: 7vw;
    }
    .div3{
        justify-content: center;
    }
    
}

